Source: nova-novnc
Section: python
Priority: optional
Maintainer: RCB Builder <rcb-deploy@lists.rackspace.com>
Build-Depends: debhelper (>=7.0.0~)
Standards-Version: 3.83
XCBS-Rcb-Component: essex-e3

Package: nova-novnc
Architecture: all
Homepage: https://github.com/cloudbuilders/noVNC
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends} ${misc:Depends}, ${python:Depends}
Description: noVNC support for OpenStack

Package: nova-vncproxy
Architecture: all
Homepage: https://github.com/cloudbuilders/noVNC
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}, openstack=2011.0+e3
Description: OpenStack Compute - VNC Proxy
 OpenStack is a reliable cloud infrastructure. Its mission is to produce
 the ubiquitous cloud computing platform that will meet the needs of public
 and private cloud providers regardless of size, by being simple to implement
 and massively scalable.
 .
 OpenStack Compute, codenamed Nova, is a cloud computing fabric controller. In
 addition to its "native" API (the OpenStack API), it also supports the Amazon
 EC2 API.
 .
 Nova is intended to be modular and easy to extend and adapt. It supports many
 different hypervisors (KVM and Xen to name a few), different database backends
 (SQLite, MySQL, and PostgreSQL, for instance), different types of user
 databases (LDAP or SQL), etc.
 .
 This package provides the vnc proxy for the dashboard novnc proxy

