Source: nova-novnc
Section: python
Priority: optional
Maintainer: RCB Builder <rcb-deploy@lists.rackspace.com>
Build-Depends: debhelper (>=7.0.0~)
Standards-Version: 3.83
XCBS-Rcb-Component: diablo-final

Package: nova-novnc
Architecture: all
Homepage: https://github.com/cloudbuilders/noVNC
XB-Python-Version: ${python:Versions}
Depends: ${shlibs:Depends} ${misc:Depends}, ${python:Depends}
Description: noVNC support for OpenStack

