#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

clean:
	make -C utils clean
	dh clean

build:
	make -C utils rebind.so

%:
	dh ${@}

override_dh_installinit:
	if dpkg-vendor --derives-from ubuntu; then \
		for i in debian/*.upstart.in; do \
			MYPKG=`echo $$i | cut -d. -f1`; \
			cp $$MYPKG.upstart.in $$MYPKG.upstart; \
		done; \
	fi
	dh_installinit --error-handler=true
